@import '../../../../styles/index';

.choose-item {
  @include flex-row-center;
  margin: 10px 0;
}

.choose-item-inner {
  @include flex-row-center;
  flex: 1;
}

.form-group {
  margin: 0 !important;
  padding: 0 5px !important;
}

.add-btn {
  @include font-size-medium;
  @include no-focus;
  float: right;
  margin-top: 20px;
  color: $color-main;
  border: 0;
  background: transparent;
}

.footer {
  margin-top: 80px;
  text-align: center;
}

.btn-trash {
  @include fontSizeI(18);
  width: 30px !important;
  height: 30px !important;
  background-color: $silverChalice !important;
}

.btn-submit {
  margin: 0 auto;
}
