@import './mixin-flex';

// this path must related to the website root, not the project root!!!!
$image-path: '/img' !default;

@mixin clearfix {
  *zoom: 1;

  &:after {
    display: table;
    clear: both;
    content: '';
  }

  &:before {
    display: table;
    content: '';
  }
}

@mixin fontSize($size: 16) {
  font-size: $size + px;
  font-size: $size / 16 + rem;
}

// for important usage, use fontSize instead except some certain situation

@mixin fontSizeI($size: 16) {
  font-size: $size + px !important;
  font-size: $size / 16 + rem !important;
}

/* stylelint-disable */
@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $point == pc {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $point == pad {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $point) {
      @content;
    }
  }
}
/* stylelint-enable */

// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

@mixin background-image($path, $name, $size: false) {
  background-image: url(#{$image-path}/#{$path}/#{$name}.svg);

  @if ($size) {
    background-size: $size;
  }

  .no-svg & {
    background-image: url(#{$image-path}/#{$path}/#{$name}.#{$fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

@mixin bg($img, $width, $height) {
  width: $width;
  height: $height;
  background: transparent url(#{$image-path}/#{$img}) no-repeat center center;
}

@mixin bg-contain($img, $width: 100%, $height: 100%) {
  @include bg($img, $width, $height);
  background-size: contain;
}

@mixin bg-cover($img, $width: 100%, $height: 100%) {
  @include bg($img, $width, $height);
  background-size: cover;
}

@mixin no-focus() {
  &:focus {
    outline: 0;
  }
}

