@import '../../../styles/index';

.container {
  @include flex-col-center;
}

.pic {
  height: 100px;
}

.pic-unfinish {
  @include bg-contain('custompage/moneytransfer.png', 120px, 120px);
  @extend .pic;
}

.pic-finish {
  @include bg-contain('createsitepage/icon_finish.png', 120px, 120px);
  @extend .pic;
}

.comment {
  width: 70%;
  margin-top: 30px;
  line-height: 25px;
  text-align: center;
}

.comment-finish {
  @extend .comment;
}

.comment-unfinish {
  @extend .comment;
}
