@import '../color';
$color-main: $tanHide;
$color-main-light: $geraldine;
$color-border: $silver;
$color-navbar: $doveGrey;
$color-text: $tundora;
$color-text-light: $boulder;
$color-panel-background: $white;
$color-hover: $gallery;

//phase
$color-phase-guide-confirm: $sunshade;
$color-phase-deposit: $pomegranate;
$color-phase-time-confirm: $sunshade;
$color-phase-video-wait: $atlantis;
$color-phase-balance: $pomegranate;
$color-phase-buy: $japaneseLaurel;
$color-zoom: $dodgerBlue;
$color-fb: $chambray;
