@import '../../../styles/index';

.btn-confirm {
  margin: 45px auto 5px;
}

.main-panel {
  padding: 20px 5px;
}

.finish-panel {
  @include font-size-big;
  padding: 20px 5px;
  background-color: transparent;
}

.double-title-content {
  margin: 0 !important;
  padding: 0 15px !important;
}

.panel-title {
  color: $color-main !important;
}
