/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset css*/


/*old code*/
.navbar {
  margin-bottom: 0px;
}

ul.navbar-nav > li.active > a {
  background: transparent !important;
}

.caret {
  color: white !important;
}

/* copy from boostrap's setting */
.caret-avatar{
  color: white ;
  display: inline-block;
  width: 0;
  height: 15px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.navbar-nav>.open>a {
  background: transparent !important;
}
.slider {
  height: 5px;
  background-color: #ddd;
  position: relative;
  top: 5px;
  border-radius: 2px;
  margin: 12px 0;
  cursor: pointer;
}
.slider-handle {
  position: relative;
  top: -5px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: rgb(38, 166, 154);
  cursor: pointer;
}
.bar-1 {
  height: 5px;
  background-color: rgb(38, 166, 154);
  border-radius: 5px;
}

/* Editor */

.public-DraftEditor-content {
  height: 100%;
  overflow-y: scroll;
  margin: 0 -15px -10px;
  padding: 0 10px 0 15px;
}

.DraftEditor-root {
  height: 100%;
}

.DraftEditor-editorContainer {
  height: 100%;
  padding-top: 10px;
}

/* Editor */

/* BsForm */
#root .help-block {
  color: red;
}
/* BsForm */

