@import '../../../styles/index';

.node-wrapper {
  @include flex-center;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
}

.node-label-div {
  flex: 3;
}

.node-label {
  @include font-size-medium;
  text-align: right;
}

.node-label-active {
  @extend .node-label;
  color: $color-main;
}

.node-label-inactive {
  @extend .node-label;
  color: $color-border;
}

.btn-div {
  @include flex-col-end;
  position: relative;
  flex: 1;
}

.btn {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: $color-border;
}

.btn-inactive {
  @extend .btn;
  background-color: $color-border;
}

.btn-active {
  @extend .btn;
  background-color: $color-main;
}

.stick {
  position: absolute;
  top: 5px;
  right: 4.5px;
  width: 3px;
  background-color: $color-border;
}

.check {
  @include font-size-big;
  position: relative;
  top: -2px;
  left: -4px;
  width: 12px;
  height: 12px;
  padding: 0;
}

.check-inactive {
  @extend .check;
  opacity: 0;
}

.check-active {
  @extend .check;
  color: $atlantis;
}
