@import '../../../styles/index';

.btn {
  @include font-size-medium;
  width: 100px;
  margin: 0 20px;
  padding: 8px 0;
  letter-spacing: 2px;
  border: 2px solid $color-main;
  border-radius: 50px;
}

.btn-submit {
  @extend .btn;
  color: $white;
  background: $color-main;
}

.btn-button {
  @extend .btn;
  color: $color-main;
  background: transparent;
}

.btn-fb {
  @extend .btn;
  color: $white;
  border-color: $chambray;
  background-color: $chambray;
}
