@import '../../../../styles/index';

.container {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 600px;
  border: 2px solid $color-border;
  border-radius: 10px;
}

.site-div {
  position: absolute;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid $tundora;
  border-radius: 5px;
  background: $white;
}

.msg-error {
  @include font-size-medium;
  width: 100%;
  margin: 0 0 15px;
  color: $red;
  text-align: right;
}

.site-div-btn {
  @include font-size-big;
  display: inline-block;
  margin: 0 3px;
  color: $color-main !important;
}

.site-div-msg {
  @include fontSize(14);
  margin: 3px 0;
}

.site-div-btn-div {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.float-site-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 26px;
}

.float-site-list {
  position: absolute;
  z-index: 100;
  overflow-y: scroll;
  width: 240px;
  height: 320px;
  padding: 5px;
  border: 10px solid $boulder;
  border-radius: 10px;
  background: $white;
}

.float-site-list-item {
  @include hover-normal;
  display: flex;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 1px none $color-border;
  border-bottom-style: solid;
  cursor: pointer;
}

.float-site-list-item-name {
  @include font-size-medium;
}

.float-site-list-item-icon {
  @include font-size-medium;
  margin-right: 10px;
  color: $color-main !important;
}

.float-site-list-title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 26px;
}

.float-site-list-title {
  @include font-size-medium;
  flex: 1;
  margin-left: 5px;
}

.float-site-list-icon {
  @include fontSizeI(22);
  float: right;
  color: $boulder !important;
  background-color: $white !important;
}

.dropdown {
  @include font-size-big;
  position: relative;
  list-style: none;
}

.day-div {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.day-div-btn {
  display: inline-block;
  margin: 0 8px;
  color: $color-main;
  border: solid 2px $color-main;
  border-radius: 20px;
}

.day-div-btn-div {
  margin: 0 10px;
}

.footer {
  @include flex-col-center;
  margin: 20px 0 0;
}

.float-info-subtitle {
  @include font-size-medium;
  flex: 1;
  margin-left: 5px;
}

.which-day {
  @include font-size-big;
}

.choose-day-div {
  @include flex-row-center;
}
